@use "sass:list";
@use "../../core/scss/mixins/input_placeholder.scss" as *;

$transparent: rgb(0,0,0,0);
$colors: #B0D0D3, #FFCAD4, #C08497, #F7AF9D;
$lightFontColor: #FFF;
$darkFontColor: #212529;

.Card {
  background: list.nth($colors, 1);
  padding: 15px;

  .form-control {
      background: $transparent;
      border: none;
      color: $lightFontColor;
      @include inputPlaceholder() {
        color: $lightFontColor;
      }
      &:focus {
        color: $darkFontColor;
        @include inputPlaceholder() {
          color: $darkFontColor;
        }
      }
  }
}

.CardTitle {
  font-size: 18px;
}

.CardBody {
  padding-top: 5px;
}
