$colors: #B0D0D3, #FFCAD4, #C08497, #F7AF9D;
$fontColor: #FFF;

.Card {
  background: list.nth($colors, 1);
  color: $fontColor;
  padding: 15px;
}

.CardTitle {
  font-size: 18px;
}

.CardBody {
  padding-top: 5px;
}
